/* headslist menu */

div#tx_dgheadslist_cat ul {
	margin: 1em 0 0;
	padding: 0;
	list-style-type: none;
}

div#tx_dgheadslist_cat ul li {
	display: inline;
}

div#tx_dgheadslist_cat ul li a {
	color: black;
	padding: .3em;
	background-color: white;
	border: 1px solid black;
}

div#tx_dgheadslist_cat ul li a:hover {
	color: silver;
	border: 1px solid silver;
}

div#tx_dgheadslist_cat ul li#tx_dgheadslist_actLink {
	display: inline;
	border: 1px solid silver;
	color: silver;
	background-color: white;
	padding: .3em;
}

/* ToolTip */

.tool-tip {
	color: #fff;
	z-index: 13000;
	background-image: url(Tips_bg.png);
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #fff;
	padding: 4px 8px;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px;
	font-weight: bold;
	color: #fff;
}