<h1>wrap for the whole Plugin</h1>

<!-- ###HEADSLISTWRAP### begin -->
<!-- Plugin tx_dgheadslist begin -->
<div id="tx_dgheadslist">
<!-- ###MAIN### begin -->

<!-- ###MAIN### end -->
</div>
<!-- Plugin tx_dgheadslist end -->
<!-- ###HEADSLISTWRAP### end -->




<h1>the headslist itself</h1>

<!-- ###HEADSLIST### begin -->
	<div id="tx_dgheadslist_rec">
		<!-- ###RECORD### begin -->
		###BILD###
		<!-- ###RECORD### end -->
	</div>
<!-- ###HEADSLIST### end -->




<h1>the category menue</h1>

<!-- ###HEADSLISTCAT### begin -->
	<div id="tx_dgheadslist_cat">
		<ul>
		<!-- ###CATEGORY### begin-->
		###CATEGORYS###
		<!-- ###CATEGORY### end -->
		</ul>
	</div>
<!-- ###HEADSLISTCAT### end -->