<h1>wrap for the whole Plugin</h1>

<!-- ###HEADLISTWRAP### begin -->
<!-- Plugin tx_dgheadslist begin -->
<div id="tx_dgheadlist">
<!-- ###MAIN### begin -->

<!-- ###MAIN### end -->
</div>
<!-- Plugin tx_dgheadslist end -->
<!-- ###HEADLISTWRAP### end -->




<h1>the headlist itself</h1>

<!-- ###HEADLIST### begin -->
	<div id="tx_dgheadslist_rec">
		<!-- ###RECORD### begin -->
		###BILD###
		<!-- ###RECORD### end -->
	</div>
<!-- ###HEADLIST### end -->




<h1>the category menue</h1>

<!-- ###HEADLISTCAT### begin -->
	<div id="tx_dgheadslist_cat">
		<ul>
		<!-- ###CATEGORY### begin-->
		<li>###CATEGORYS###</li>
		<!-- ###CATEGORY### end -->
		</ul>
	</div>
<!-- ###HEADLISTCAT### end -->